<p>Dear Symposium Participant,</p>

<p>
	Thank you for your interest in the 31st Annual Symposium for Reproductive Science and Women's Health. The organizers would like to remind you to please follow the steps to complete your registration information (if you haven't done so already) so they can plan for the event appropriately. 
</p>

<p>Some key dates to consider: </p>

<p>Last day to register is May 10, 2012.</p>

<p>Last day to submit an abstract is May 8, 2012.</p>

<p>Visit: <a href="http://registrationapp.com/dashboard">http://registrationapp.com/dashboard</a> to register or confirm your symposium registration.</p>


<p>Thank you, </p>

<p>RegistrationApp Admin</p>