<!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>University of Kentucky<br />31<sup>st</sup> Annual Symposium for Reproductive Science<br /> and Women's Health</h1>
        <p>Each spring the Forum sponsors the University of Kentucky Symposium in Reproductive Science and Women's Health. Its purpose is to bring faculty, clinicians, and trainees in the field of reproductive sciences together to exchange ideas and information with each other and with recognized leaders of the reproductive sciences research community. </p>
        <p><a class="btn btn-primary btn-large" href="http://www.mc.uky.edu/obg/Forum/symposium.html">Learn More <i class="icon-white icon-chevron-right"></i></a></p>
    
            <% if Setting.first.reg_available? %>
              <%= raw render partial: "open_button" %>
            <% else %>
              <%= raw render partial: "closed_button" %>
            <% end %>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>About</h2>
           <p>To promote an interchange of ideas on the latest concepts in reproductive biology on the University campus, the University of Kentucky Symposium in Reproductive Sciences was established in 1981. The format of the yearly conference is structured as a two day didactic conference consisting of four state-of-the-art presentations by preeminent reproductive scientists. During their stay, the speakers spend two half days presenting an overview and update of the latest concepts and ideas in their respective fields and a half day with the students and fellows. The Symposium has been exceptionally successful in the education of students and fellows as well as promoting reproductive sciences at the University and within the region.</p>
          <p><a class="btn" href="http://www.mc.uky.edu/obg/Forum/symposium.html">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Invited Speakers</h2>
           <p>
            Sergio Ojeda, Ph.D., Professor, Division of Neuroscience, Oregon National Primate Research Center
          </p>
          <p>
            Jeffrey Rosen, Ph.D., CC Bell Professor, Department of Molecular and Cellular Biology, Baylor College of Medicine
          </p>
          <p>
            Bo Rueda, Ph.D., Professor, Dept OB/GYN & Reproductive Biology, Massachusetts General Hospital, Harvard Medical School 
          </p>
          <p>
            Mats Troedsson, D.V.M., Ph.D., DACT, DECAR, Professor, Equine Reproduction, University of Kentucky
          </p>
          <p>
            Keith Betteridge, M.V.Sc., Ph.D., FRCVS, Professor, Dept of Biomedical Sciences, University of Guelph
          </p>
          <p><a class="btn" href="http://www.mc.uky.edu/obg/Forum/symposium.html">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Sessions</h2>
          <p>
            <strong>Day 1:</strong> 
            <ul class="unstyled">
              <li><p>Sergio Ojeda, Ph.D., Gene networks and epigenetic mechanism controlling female puberty</p></li>
              <li><p>Poster Session</p></li>
              <li><p>Jeffrey Rosen, Ph.D., Tracking and Targeting of Breast Cancer Stem Cells</p></li>
              <li><p>Bo Rueda, Ph.D., Oogonial stem cells; can they serve as a source for high-grade ovarian adenocarcinoma?</p></li>
              <li><p>Evening Session</p></li>
            </ul>
          </p>
          <p>
            <strong>Day 2:</strong>
            <ul class="unstyled">
              <li><p>Mats Troedsson, D.V.M., Ph.D., Selective Sperm Transport in the Mares Uterus</p></li>
              <li><p>Keith Betteridge, M.V.Sc., Ph.D., FRCVS, Equine embryogenesis: lessons and challenges from the living and the dead</p></li>
            </ul>
          </p>
          <p><a class="btn" href="http://www.mc.uky.edu/obg/Forum/sympschedule2012.html">View details &raquo;</a></p>
        </div>
      </div>